@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Bold.woff2) format('woff2'),
        url(../font/Inter-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-Regular.woff2) format('woff2'),
        url(../font/Inter-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.light {
    color: #010101;
    background-color: #E5E5E5;
}
.light .circle circle {
    fill: #fff;
}
.light .tringle path {
    fill: #D40000;
}

.light .list__link {
    color: #010101;
}

.dark {
    background-color: #232326;
    color: #F3F2F0;
}
.dark .circle circle {
    fill: #D40000;
}
.dark .tringle path {
    fill: #fff;
}


.dark .list__link {
    color: #F3F2F0;
}

.wrapper {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1em;
    font-size: 1em;
}
.circle_main {
    width: 253px;
    height: 253px;
}
.circle_nav {
    width: 106px;
    height: 106px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
    margin-bottom: 3.75em;
}

.list {
    list-style: none;
    padding-left: 0;
}

.list__item {
    display: inline-block;
    padding: 0 1em;
    font-size:0.875em ;
}

.list__item:first-child {
    padding-left: 0;

}

.list__item:last-child {
    padding-right: 0;

}

.list__link {
    text-decoration: none;
}

.list__link:hover {
    color: #D40000;
}
.v-line .list__item {
position: relative;
}
.v-line .list__item::before {
position: absolute;
content: '';
display: block;
width: 1px;
height: 24px;
background-color: #010101;
filter: opacity(0.2);
top: calc(50% - 12px);
left: 0;
}
.v-line .list__item:first-child::before {
    display: none;
}

.foto {
    margin-bottom: 7.5em;
    width: 100%;
}


.name {
    font-size: 1.75em;
    position: relative;

}
.title__h1 {
    font-size: 4.625em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.social {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.75em;
    padding-top: 6.25em;
}

.projekt {
    margin: 0;
    font-weight: bold;
    line-height: 150%;
}

.projekt::after {
    content: '';
    height: 12px;
    width: 16px;
    display: inline-block;
    background-image: url(../img/Arrow\ 1.svg);
    margin-left: 15px;
}

.skill {
    display: flex;
    justify-content: space-between;

}

.skill__item {
    width: 22%;
    font-size: 0.875em;
    line-height: 150%;
}

.title__h3 {
       font-weight: 700;
    text-transform: uppercase;
}